body {
  /* background: #000; */
  background: url(https://plus.unsplash.com/premium_photo-1747851402163-9183f38a658c?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat top center fixed;
  background-size: cover;
}

div {
  background: linear-gradient(to bottom, #f7686827, #52181883),
    url(https://images.unsplash.com/photo-1747619715083-3db63905a75a?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
      no-repeat center center fixed;
  color: #fff;
  width: 350px;
  padding: 20px;
  margin: 20px;
}
