body {
  font-family: sans-serif;

}

h1{
  font-family: 'Times New Roman', Times, serif, arial;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-decoration: underline wavy red 2px;

}

p {
  text-align: justify;
  text-transform: uppercase;
  color: #8a8686;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 10px;
  text-shadow: 2px 2px 2px rgba(33, 107, 218, 0.5);
}
